[submodule "src/epscript/pybind11"]
	path = src/epscript/pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
[submodule "src/rust/stormlib-rs/deps/StormLib"]
	path = src/rust/stormlib-rs/deps/StormLib
	url = https://github.com/ladislav-zezula/StormLib.git
