[submodule "pybind11"]
    path = src/epscript/pybind11
    url = https://github.com/pybind/pybind11
    branch = stable
[submodule "src/rust/stormlib-rs"]
	path = src/rust/stormlib-rs
	url = https://github.com/wc3tools/stormlib-rs
