__pycache__/
_build/
build/
dist/
htmlcov/
*.so
.tox/
.cache/
.coverage
*.egg-info/
*.egg
.eggs/
# TODO: Add pyd?
*.py[co]
.hypothesis/
target/
.rust-cov/

.idea/
*.vscode
.DS_Store
tests/outputmap/
tests/output.png
tests/output.pstats
*.svg
